.button {
  background: #fdfdfd;
  border: none;
  color: green;
  height: 40px;
  margin-top: 40px;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  &.is-disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}